<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="header" layout="row">
  <h3 flex='85'>INFORMAÇÃO EMPRESARIAL</h3>
  <a ng-href="#/home" flex='15'>
    <i class="material-icons" style="color: #FFFFFF; float: right; padding-top: 15px; padding-right:107.5px; font-size: 45px">home</i>
  </a>
</div>

<div class="wrap">
  <div class="collapse navbar-collapse" id="js-navbar-collapse">
    <ul class="nav navbar-nav" style="width: 100%">

      <li style="float: right; width:15%; top:7.5px; padding-right: 8px">
        <md-select ng-model="mesSelected" aria-label="seleciona o mes" md-on-close="mudaMes()">
          <md-option ng-value="mes" ng-repeat="mes in meses"> {{mes.name | date: 'MMM, yyyy'}}</md-option>
        </md-select>
      </li>
    </ul>
  </div>
</div>


<div class="wrap">
<div class="myLayout"  layout="row" layout-align="space-around stretch" style="height:660px">
  <div flex="70" >
    <div layout-fill layout="column" layout-align="space-around stretch">
      <div flex layout-fill >
        <div class="myLayout" layout-fill layout="row" layout-align="space-around stretch" >
          <div flex >
            <md-card class="md-whiteframe-1dp" style="height:300px; padding-top: 30px">
              <md-card-content layout-padding>
                <h3 style="position: relative; font-size: 15px; text-align:center; font-family: 'Montserrat', sans-serif; margin-top: 5px; padding-left: 5px"> Volume de vendas </h3>
                <div layout-align="center center" id="doughnut-chart" ng-controller="DoughnutCtrl_volumevendas">
                  <canvas id="doughnut" class="chart chart-doughnut chart-xs" chart-data="data"
                  chart-labels="labels" chart-legend="false"></canvas>
                </div>
              </md-card-content>
            </md-card>
          </div>
          <div flex >
            <md-card class="md-whiteframe-1dp" style="height:300px;  padding-top: 30px">
              <md-card-content layout-padding>
                <h3 style="position: relative; font-size: 15px; text-align:center; font-family: 'Montserrat', sans-serif; margin-top: 5px; padding-left: 5px"> Trabalhadores </h3>
                <div layout-align="center center" id="doughnut-chart" ng-controller="DoughnutCtrl_trabalhadores">
                  <canvas id="doughnut" class="chart chart-doughnut chart-xs" chart-data="data"
                  chart-labels="labels" chart-legend="false"></canvas>
                </div>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </div>
      <div flex layout-fill >
            <md-card class="md-whiteframe-1dp" style="height: 330px">
              <md-card-content >
                <md-toolbar ng-show="!showSearch">
                  <div class="md-toolbar-tools">
                    <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                      <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <span flex></span>
                    <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                      <ng-md-icon icon="search"></ng-md-icon>
                    </md-button>
                  </div>
                </md-toolbar>
                <md-toolbar class="md-hue-1" ng-show="showSearch">
                  <div class="md-toolbar-tools">
                    <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                      <ng-md-icon icon="arrow_back"></ng-md-icon>
                    </md-button>
                    <md-input-container flex>
                      <label>&nbsp;</label>
                      <input ng-model="search.who" placeholder="procura bilhetes">
                    </md-input-container>
                    <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                      <ng-md-icon icon="search"></ng-md-icon>
                    </md-button>
                  </div>
                </md-toolbar>
                <div layout="row" layout-fill layout-align="center center">
                  <div flex layout-align="center center" style="height: 225px; overflow: scroll">
                    <md-list>
                      <md-item ng-repeat="item in inventario | filter:search.who | orderBy: 'nome'">
                        <md-item-content>
                          <div layout="row" layout-fill layout-align="space-around start">
                            <div flex="60" >
                              <div id="myOtherBarra-hor" ng-style="{'width' : 100+'%'}">
                                <div id="myBarra-hor" ng-style="{'width' : porcento(item.value)+'%'}"></div>
                                <div id="aparece2">{{item.value}}: {{porcento(item.value).toFixed(2)}} %</div>
                              </div>

                            </div>
                            <div flex ="40" style="text-align: left; font-family: 'Montserrat', sans-serif; padding-left:10px;">
                              <div style="width:200%; overflow: auto; white-space: nowrap;">
                                {{item.nome}}
                              </div>
                            </div>
                          </div>
                        </md-item-content>
                      </md-item>
                    </md-list>
                  </div>
                  <div class="qualidade-esp" flex="35" layout-align="center center" style="text-align: center;">
                    <h2>INVENTÁRIO</h2>
                    bilhetes
                  </div>
                </div>

              </md-card-content>
            </md-card>
      </div>
    </div>
  </div>
  <div flex="30"  layout-fill >
    <md-card class="md-whiteframe-1dp"  >
      <md-card-content>
    <div ng-controller="MyController" >
      <ng-map center="39.5949065,-7.974563" zoom="7" style="height:615px">
         <marker ng-repeat="pos in positions track by pos" position="{{pos}}" title="{{pos}}"></marker>
      </ng-map>
    </div>
  </md-card-content>
  </md-card>
  </div>
</div>
</div>
