<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="header" layout="row">
  <h3 flex='85'>INFORMAÇÃO FINANCEIRA</h3>
  <a ng-href="#/home" flex='15'>
    <i class="material-icons" style="color: #FFFFFF; float: right; padding-top: 15px; padding-right:107.5px; font-size: 45px">home</i>
  </a>
</div>

<div class="wrap">
  <div class="collapse navbar-collapse" id="js-navbar-collapse">
    <ul class="nav navbar-nav" style="width: 100%">
      <li><a id="linkmes" ng-href="#/vendas">MÊS</a></li>
      <li><a id="linktrimestre" ng-href="#/vendas">TRIMESTRE</a></li>
      <li><a id="linksemestre" ng-href="#/vendas">SEMESTRE</a></li>
      <li><a id="linkano" ng-href="#/vendas">ANO</a></li>
      <li style="float: right; width:15%; top:7.5px; padding-right: 8px">

    <md-select ng-model="mes" aria-label="seleciona o mes" md-on-close="mudaMes()">
      <md-option ng-value="mes" ng-repeat="mes in meses"> {{mes.name}}</md-option>
    </md-select>

      </li>
    </ul>
  </div>


<div class="wrap">
  <div layout="row" layout-align="space-between stretch" style="">
    <div flex style="background-color: #6494ed">
      <div layout="column" layout-align="space-between stretch" style="">
        <div flex layout-fill>
          <md-card>
            <md-card-content layout="row" layout-align="space-around center">
              <h4 flex id="lucro-liquido-nr"> 1200 €</h4>
              <h4 flex id="lucro-liquido">LUCRO<br>líquido</h4>
            </md-card-content>
          </md-card>
        </div>
        <div flex layout="row" layout-align="space-between stretch" style="" layout-fill>
          <div flex>
            <md-card>
              <md-card-content  layout="column" layout-align="space-around center">
                <h4 flex id="titulo-chart">Lucro</h4>
                <div layout-align="center center" id="doughnut-chart" ng-controller="DoughnutCtrl_lucro">
                  <canvas id="doughnut" class="chart chart-doughnut chart-xs" chart-data="data"
                   chart-labels="labels" chart-legend="false" height:"100px"></canvas>
                   <h4 flex id="titulo-chart">Postos de Venda</h4>
            </div>
              </md-card-content>
            </md-card>
          </div>
          <div flex>
            <md-card>
              <md-card-content layout="column" layout-align="space-around center">
                <h4 flex id="lucro-operacional-nr"> 1200 €</h4>
                <h4 flex id="lucro-operacional">CUSTOS<br>fixos</h4>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </div>
    </div>
    <div flex style="background-color: #91a74d">
      <div flex layout="row" layout-align="space-between stretch" style="height: 100%" layout-fill>
        <div flex>
          <div layout="column" layout-align="space-between stretch" style="" layout-fill>
            <div flex layout-fill>
              <md-card>
                <md-card-content layout="column" layout-align="space-around center">
                <img ng-src="{{euroImg}}" style="height: 100px">
                <h4 flex id="lucro-operacional-nr"> 3600 €</h4>
                <h4 flex id="lucro-operacional">LUCRO<br>operacional</h4>
            </md-card-content>

              </md-card>
            </div>
            <div flex layout-fill>
              <md-card>
                <md-card-content layout="column" layout-align="space-around center">
                <h4 flex id="lucro-operacional-nr"> 1200 €</h4>
                <h4 flex id="lucro-operacional">CUSTOS<br>variáveis</h4>
              </md-card-content>
              </md-card>
            </div>
          </div>
        </div>
        <div flex layout-fill style="height: 100%">
          <md-card>
             <md-card-content layout="column" layout-align="space-around ">
              <h4 flex id="titulo-despesas">DESPESAS</h4>
              <div ng-app="sinfApp" ng-controller="FinancasCtrl"> 
                <md-card-content layout="column" layout-align="space-around center">
                 <md-card-content layout-fill layout="row" layout-align="space-between start" ng-repeat="x in despesas">
                  <h4 id="lista-despesas">{{x.despesa}}</h4>
                  <h4 id="lista-despesas">{{x.valor}}</h4>
                </md-card-content>
              </div>
              <div ng-app="sinfApp" ng-controller="FinancasCtrl" style="display: table; height: 40px; overflow: hidden;" layout-fill >
              <div flex style="background-color: #FFA500; display: table-cell; vertical-align: middle;" layout-fill >
                <h4 flex id="total-despesas">{{ getTotal() | currency: "€" }}</h4>
              </div>

              </div>
              <script src="despesasController.js"></script>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
