<link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:700,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="header">
  <h3>HOME</h3>
</div>
<!--alteracao para o git-->
<div id="login-view">
  <md-card style="width: 30%; margin-left: 35%; margin-right: 35%; height: 75%;">
    <md-card-content style="padding-left: 25px; padding-right:25px;height: 100%;">
      <div style="width: 100%; height: 100%">
        <div id="login-header">
          <h2 style="padding-top: 30px; padding-left: 20px; color: #fff; font-family: 'PT Sans', sans-serif;">DashBoard 360</h2>
          <h4 style="padding-top: 10px; padding-left: 20px; color: #fff; font-family: 'Montserrat', sans-serif;">login</h4>
        </div>
        <md-content md-theme="docs-dark" layout-padding>
          <div>
            <md-input-container class="md-block">
              <label>Email</label>
              <input required ng-model="user.email" type="email">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input required ng-model="user.pwd" type="password">
            </md-input-container>
          </div>
          </md-content>
          <div style="text-align: right;">
          <md-button class="md-raised md-primary" ng-click="login(email,password)">login</md-button>
        </div>
      </div>

      </md-content>
  </md-card-content>
  </md-card>
</div>

<div id="home-bars" layout="row">
  <div align= "center" flex class="divHome" style="background-color: #E3E451;">
    <a ng-href="#/vendas">
      <img ng-src="{{vendasImg}}" style="height: 150px;margin-bottom: 20px;">
      <div class="aparece">
        <ul>
          <li>Informação de vendas por</li>
          <li><ul>
            <li>Local</li>
            <li>Época</li>
            <li>Hora</li>
            <li>Espetáculo</li>
            <li>Idade</li>
            <li>Tipo</li>
          </ul>
        </li>
        <li>Volume de vendas por dia da semana<br/></li>
        <li>Calendário</li>
      </ul>
    </div>
    <h1 align= "center"> INFORMAÇÃO<br/>DE VENDAS </h1>
  </a>
  <div class="notif">
    <br/>
    <br/>
    Mês de Dezembro Atualizado
    <br/>
    Quarto Trimestre Atualizado
    <br/>
    Segundo Semestre Atualizado
    <br/>
    Ano 2015 Atualizado
  </div>
</div>
<div align= "center" flex class="divHome" style="background-color: #66C1DC;">
  <a ng-href="#/financas">
    <img ng-src="{{financasImg}}" style="height: 150px;margin-bottom: 20px;">
    <div class="aparece">
      <ul>
        <li>Lucro líquido</li>
        <li>Lucro operacional</li>
        <li>Lucro dos postos de venda</li>
        <li>Custos fixos</li>
        <li>Custos varáveis</li>
        <li>Despesas</li>
      </ul>
    </div>
    <h1> INFORMAÇÃO<br/>FINANCEIRA </h1>
  </a>
  <br/>
  <br/>
  Despesas Atualizadas
  <br/>
  Lucro Líquido Atualizado
</div>
<div align= "center" flex class="divHome" style="background-color: #D85374;">
  <a ng-href="#/empresarial">
    <img ng-src="{{empresarialImg}}" style="height: 150px;margin-bottom: 20px;">
    <div class="aparece">
      <ul>
        <li>Volume de vendas dos postos de venda</li>
        <li>Número de trabalhadores por área</li>
        <li>Localização dos postos de venda</li>
      </ul>
    </div>
    <h1> INFORMAÇÃO<br/>EMPRESARIAL </h1>
  </a>
  <br/>
  <br/>
  Inventário Atualizado

</div>
<div align= "center"flex class="divHome" style="background-color: #F7903F;">
  <a ng-href="#/reviews">
    <img ng-src="{{reviewsImg}}" style="height: 150px;margin-bottom: 20px;">
    <div class="aparece">
      <ul>
        <li>Qualidade dos postos de venda</li>
        <li>Qualidade dos espetáculos</li>
        <li>Qualidade dos locais</li>
      </ul>
    </div>
    <h1 style="padding-left: 35%"> <br/>REVIEWS</h1>
  </a>
  <br/>
  <br/>
  Qualidade dos postos de venda atualizada
  <br/>
  Qualidade dos espetáculos atualizada
  <br/>
  Qualidade dos locais atualizada
</div>
</div>
