<link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:700,300' rel='stylesheet' type='text/css'>

<div class="header">
  <h3>HOME</h3>
</div>

<div layout="row">
  <div align= "center" flex class="divHome" style="background-color: #E3E451;">
    <a ng-href="#/vendas">
      <img ng-src="{{vendasImg}}" style="height: 150px;margin-bottom: 20px;">
      <div class="aparece">
        <ul>
          <li>informação de vendas por</li>
          <li><ul>
            <li>local</li>
            <li>época</li>
            <li>hora</li>
            <li>espetáculo</li>
            <li>idade</li>
            <li>tipo</li>
          </ul>
        </li>
        <li>volume de vendas por dia da semana<br/></li>
        <li>calendário</li>
      </ul>
    </div>
    <h1 align= "center"> INFORMAÇÃO<br/>DE VENDAS </h1>
  </a>
  <div class="notif">
    <br/>
    <br/>
    aqui vão ficar as notificações
  </div>
</div>
<div align= "center" flex class="divHome" style="background-color: #66C1DC;">
  <a ng-href="#/financas">
    <img ng-src="{{financasImg}}" style="height: 150px;margin-bottom: 20px;">
    <div class="aparece">
      <ul>
        <li>lucro líquido</li>
        <li>lucro operacional</li>
        <li>lucro dos postos de venda</li>
        <li>custos fixos</li>
        <li>custos varáveis</li>
        <li>despesas</li>
      </ul>
    </div>
    <h1> INFORMAÇÃO<br/>FINANCEIRA </h1>
  </a>
  <br/>
  <br/>
  aqui vão ficar as notificações
</div>
<div align= "center" flex class="divHome" style="background-color: #D85374;">
  <a ng-href="#/empresarial">
    <img ng-src="{{empresarialImg}}" style="height: 150px;margin-bottom: 20px;">
    <div class="aparece">
      <ul>
        <li>volume de vendas dos postos de venda</li>
        <li>número de trabalhadores por área</li>
        <li>localização dos postos de venda</li>
      </ul>
    </div>
    <h1> INFORMAÇÃO<br/>EMPRESARIAL </h1>
  </a>
  <br/>
  <br/>
  aqui vão ficar as notificações
</div>
<div align= "center"flex class="divHome" style="background-color: #F7903F;">
  <a ng-href="#/reviews">
    <img ng-src="{{reviewsImg}}" style="height: 150px;margin-bottom: 20px;">
    <div class="aparece">
      <ul>
        <li>qualidade dos postos de venda</li>
        <li>qualidade dos espetáculos</li>
        <li>qualidade dos locais</li>
      </ul>
    </div>
    <h1 style="padding-left: 35%"> <br/>REVIEWS</h1>
  </a>
  <br/>
  <br/>
  aqui vão ficar as notificações
</div>
</div>
