<link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>

<div class="header">
  <h3>HOME</h3>
</div>

<div layout="row">
  <div align= "center" flex class="divHome" style="background-color: #E3E451;">
    <a ng-href="#/vendas">
      <img ng-src="{{vendasImg}}" style="height: 150px;">
      <h1 align= "center"> INFORMAÇÃO<br/>DE VENDAS </h1>
    </a>
    <br/>
    <br/>
    aqui vão ficar as notificações
  </div>
  <div align= "center" flex class="divHome" style="background-color: #66C1DC;">
    <a ng-href="#/financas">
      <img ng-src="{{financasImg}}" style="height: 150px;">
      <h1> INFORMAÇÃO<br/>FINANCEIRA </h1>
    </a>
    <br/>
    <br/>
    aqui vão ficar as notificações
  </div>
  <div align= "center" flex class="divHome" style="background-color: #D85374;">
    <a ng-href="#/empresarial">
      <img ng-src="{{empresarialImg}}" style="height: 150px;">
      <h1> INFORMAÇÃO<br/>EMPRESARIAL </h1>
    </a>
    <br/>
    <br/>
    aqui vão ficar as notificações
  </div>
  <div align= "center"flex class="divHome" style="background-color: #F7903F;">
    <a ng-href="#/reviews">
      <img ng-src="{{reviewsImg}}" style="height: 150px;">
      <h1 style="padding-left: 35%"> <br/>REVIEWS</h1>
    </a>
    <br/>
    <br/>
    aqui vão ficar as notificações
  </div>
</div>
