<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="header" layout="row">
  <h3 flex='85'>REVIEWS</h3>
  <a ng-href="#/home" flex='15'>
    <i class="material-icons" style="color: #FFFFFF; float: right; padding-top: 15px; padding-right:107.5px; font-size: 45px">home</i>
  </a>
</div>

<div class="wrap">
  <div layout="row">
    <div flex>
    </div>
    <md-select ng-model="mes" aria-label="seleciona o mes" md-on-close="mudaMes()">
      <md-option ng-value="mes" ng-repeat="mes in meses"> {{mes.name}}</md-option>
    </md-select>
  </div>

  <div class="myLayout" layout-fill flex layout="column" layout-align="center start">
    <div flex style="width: 100%">
      <md-card>
        <md-card-content>
          <div layout-fill layout="row" layout-align="center center">
            <div flex="45" style="width:70px; overflow: auto">
              <div id="bar-chart" ng-controller="BarCtrl_qual_postos" >
              <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"
              chart-series="series" chart-options="options"></canvas>
            </div>
            </div>
            <div id = "qualidade-postos" flex = "45">
              <h2>QUALIDADE</h2>
              postos de venda
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div flex class="myLayout" layout-fill layout="row" layout-align="center start">
      <div flex>
        <md-card>
          <md-card-content>
            <md-toolbar ng-show="!showSearch2">
              <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                  <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
                <span flex></span>
                <md-button aria-label="Search" ng-click="showSearch2 = !showSearch2">
                  <ng-md-icon icon="search"></ng-md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-toolbar class="md-hue-1" ng-show="showSearch2">
              <div class="md-toolbar-tools">
                <md-button ng-click="showSearch2 = !showSearch2" aria-label="Back">
                  <ng-md-icon icon="arrow_back"></ng-md-icon>
                </md-button>
                <md-input-container flex>
                  <label>&nbsp;</label>
                  <input ng-model="search.who2" placeholder="procura espectáculos" class="search-placeholder">
                </md-input-container>
                <md-button aria-label="Search" ng-click="showSearch2 = !showSearch2">
                  <ng-md-icon icon="search"></ng-md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <div layout="row" layout-fill layout-align="center center">
              <div flex layout-align="center center" style="height: 225px; overflow: scroll">
                <md-list>
                  <md-item ng-repeat="item in data | filter:search.who2 | orderBy: 'nome'">
                    <md-item-content>
                      <div layout="row" layout-fill layout-align="space-around start">
                        <div flex="60" >
                          <div id="myOtherBarra-hor" ng-style="{'width' : 100+'%'}">
                            <div id="myBarra-hor" ng-style="{'width' : porcento(item.value)+'%'}"></div>
                            <div id="aparece2">{{item.value}}: {{porcento(item.value).toFixed(2)}} %</div>
                          </div>

                        </div>
                        <div flex ="40" style="text-align: left; font-family: 'Montserrat', sans-serif; padding-left:10px;">
                          <div style="width:200%; overflow: auto; white-space: nowrap;">
                            {{item.nome}}
                          </div>
                        </div>
                      </div>
                    </md-item-content>
                  </md-item>
                </md-list>
              </div>
              <div id="qualidade-esp" flex="35" layout-align="center center" style="text-align: center;overflow: scroll;">
                <h2>QUALIDADE</h2>
                espectáculos
              </div>
            </div>

          </md-card-content>
        </md-card>
      </div>
      <div flex>
        <md-card>
          <md-card-content>
            <md-toolbar ng-show="!showSearch">
              <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                  <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
                <span flex></span>
                <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                  <ng-md-icon icon="search"></ng-md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-toolbar class="md-hue-1" ng-show="showSearch">
              <div class="md-toolbar-tools">
                <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                  <ng-md-icon icon="arrow_back"></ng-md-icon>
                </md-button>
                <md-input-container flex>
                  <label>&nbsp;</label>
                  <input ng-model="search.who" placeholder="procura locais" class="search-placeholder">
                </md-input-container>
                <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                  <ng-md-icon icon="search"></ng-md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <div layout="row" layout-fill layout-align="center center">
              <div flex layout-align="center center" style="height: 225px; overflow: scroll">
                <md-list>
                  <md-item ng-repeat="item in data2 | filter:search.who | orderBy: 'nome'">
                    <md-item-content>
                      <div layout="row" layout-fill layout-align="space-around start">
                        <div flex="60" >
                          <div id="myOtherBarra-hor" ng-style="{'width' : 100+'%'}">
                            <div id="myBarra-hor" ng-style="{'width' : porcento(item.value)+'%'}"></div>
                            <div id="aparece2">{{item.value}}: {{porcento(item.value).toFixed(2)}} %</div>
                          </div>

                        </div>
                        <div flex ="40" style="text-align: left; font-family: 'Montserrat', sans-serif; padding-left:10px;">
                          <div style="width:200%; overflow: auto; white-space: nowrap;">
                            {{item.nome}}
                          </div>
                        </div>
                      </div>
                    </md-item-content>
                  </md-item>
                </md-list>
              </div>
              <div id="qualidade-esp" flex="35" layout-align="center center" style="text-align: center;overflow: scroll;">
                <h2>QUALIDADE</h2>
                locais
              </div>
            </div>

          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</div>
